<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Games</title>
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet" />
    <link rel="stylesheet" href="./styles/styles.css" />
</head>

<body>
    <div id="myApp">
        <div class="main">
            <header class="title">
                <h1>LEADERBOARD</h1>
            </header>

            <div class="form">
                <div v-if="!player">
                    <div class="greetings">
                        <h4>Come on in!!!</h4>
                    </div>
                    <form class="ml_5" onsubmit="return false">
                        <label>User Name:
                            <input v-model="ourData.name" class="background" type="text" placeholder="Your Email"
                                required="required" /></label>
                        <label>Password:
                            <input v-model="ourData.pwd" class="background" type="password" placeholder="password"
                                required="required" /></label>
                        <button @click="getLogIn" class="background">Log in</button>
                        <button @click="getSignUp" class="background">Sign up</button>
                    </form>
                </div>

                <div v-else>
                    <div class="greetings">
                        <h4>Wellcome {{ player.email }}</h4>
                    </div>

                    <div class="newGame">
                        <button class="FS50" @click="getNewGame">New Game</button>
                    </div>

                    <form class="ml_5" onsubmit="return false">
                        <button @click="getLogOut" class="background">Log out</button>
                    </form>
                </div>
            </div>

            <div class="table">
                <table class="t_width">
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Time</th>
                            <th>Player 1</th>
                            <th>Player 2</th>
                            <th>¿Join?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="game in games">
                            <td>{{ game.id }}</td>
                            <td>
                                game /
                                {{ game.create.split("T")[0] }}
                            </td>
                            <td v-for="gp in sortedGamePlayers([...game.gamePlayer])">
                                {{ gp.player.email }}
                            </td>
                            <td v-if="game.gamePlayer.length == 1">Waiting for...</td>
                            <td v-if="player == null"></td>
                            <td v-if="(player != null && (game.gamePlayer.length == 1) && (game.gamePlayer[0].player.id == player.id))">
                                <button @click="getGameView(game.gamePlayer)">Play</button></a>
                            </td>
                            <td v-if="((player != null &&  game.gamePlayer.length == 1) && (game.gamePlayer[0].player.id != player.id))">
                                <button @click="join(game.id)">Join</button>
                            </td>
                            <td v-if="(player != null && (game.gamePlayer.length == 2) && (game.gamePlayer[0].player.id == player.id || game.gamePlayer[1].player.id == player.id))">
                                <button @click="getGameView(game.gamePlayer)">Play</button>
                            </td>
                            <td v-if="(player != null && (game.gamePlayer.length == 2) && (game.gamePlayer[0].player.id != player.id && game.gamePlayer[1].player.id != player.id))">
                                <span>Full Game</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="t_width">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Win</th>
                            <th>Tie</th>
                            <th>Lost</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(score, index) in scores">
                            <td>{{ index }}</td>
                            <td>{{ score.Wins }}</td>
                            <td>{{ score.Tie }}</td>
                            <td>{{ score.Lost }}</td>
                            <td>{{ score.Total }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/games.js"></script>
</body>

</html>