*{
    margin: 0px;
    padding: 0px;
}

td{
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
}

header{
    text-align: center;
    height: 150px;
}

.game{
    display: flex;
    justify-content: space-around;
}

.gameBoard{
    display: flex;
    

}

.grid{
    width: 400px;
    height: 400px;
}

.shipSpace{
    background-color: darkgray;
}

.Patrol_Boat{
    background-color: yellow;
}

.Destroyer{
    background-color: rebeccapurple;
}

.Submarine{
    background-color: red;
}

.Battleship{
    background-color: green;
}
.Carrier{
    background-color: aqua;
}

.salvoLocation{
    background-color: #000;
}

.opponentSalvoLocation{
    background-color: rgba(0, 255, 21, 0.221);
}
