* {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

/* ----------------------GAME.HTML--------------------------------- */

td {
    border: 1px solid #00FF66;
    width: 30px;
    height: 30px;
    text-align: center;
}

header {
    text-align: center;
    height: 200px;
}

body {
    background-color: #282828;
    color: #00FF66;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 90px;
    text-align: center;
}

h4 {
    font-size: 30px;
    text-align: center;
}

.game {
    display: flex;
    justify-content: space-around;
}

.gameBoard {
    display: flex;
}

.grid {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

.shipSpace {
    background-color: darkgray;
}

.hit {
    height: 30px;
    width: 30px;
    background-image: url("../img/fire.gif");
    background-size: cover;
    background-position: center;
}

.miss {
    height: 30px;
    width: 30px;
    background-image: url("../img/water.gif");
    background-size: cover;
    background-position: center;
}

.ships {
    background-color: #00FF66;
}

.salvoLocation {
    background-color: #c5c5c5;
}

.opponentSalvoLocation {
    background-color: rgba(0, 255, 21, 0.221);

}

/* ----------------------GAMES.HTML--------------------------------- */

.table {
    display: flex;
    justify-content: space-around;
}

.t_width {
    width: 40%;
    border-collapse: collapse;
}

.table table tbody td {
    width: 20%;
}

.form {
    height: 100px;
}

.ml_5 {
    margin-left: 5%;
}

input::placeholder {
    color: #00FF66;
}

.background {
    background-color: #282828;
    color: #00FF66;
    border: #00FF66 solid 1px;
}

.greetings {
    height: 70px;
}

button {
    color: #00FF66;
    border: #00FF66 solid 1px;
    background-color: #282828;
    width: 70px;
    font-family: 'VT323', monospace;

}