*{
    margin: 0px;
    padding: 0px;
}




td{
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    text-align: center;
}

header{
    text-align: center;
    height: 150px;
}

.game{
    display: flex;
    justify-content: space-around;
}

.gameBoard{
    display: flex;
    

}

.grid{
    width: 400px;
    height: 400px;
}

.shipSpace{
    background-color: darkgray;
}

.hit{
    height: 30px;
    width: 30px;
    background-image: url("../img/fire.gif");
    background-size: cover;
    background-position: center;
}

.miss{
    height: 30px;
    width: 30px;
    background-image: url("../img/water.gif");
    background-size: cover;
    background-position: center;
}

.ships{
    background-color: yellow;  
}

.salvoLocation{
    background-color: #c5c5c5;
}

.opponentSalvoLocation{
    background-color: rgba(0, 255, 21, 0.221);
   
}
